<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Swirecare</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/owl_carousel.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/animatecss/3.5.2/animate.min.css"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  {% load static %}
  <body class="sg_inner_page">
    <div class="pt-2" id="home">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <header class="sg_header">
              <a href="/" class="sg_logo"
                ><img src="{% static 'img/logo_b.png' %}"
              /></a>
              <input class="sg_menu-btn" type="checkbox" id="menu-btn" />
              <label class="sg_menu-icon" for="menu-btn"
                ><span class="navicon"></span
              ></label>
              <ul class="sg_menu">
                <li><a href="/">About</a></li>
                <li><a href="/">Feature</a></li>
                <li><a href="/">Download</a></li>
                <li><a href="/">Contact</a></li>
              </ul>
            </header>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-7">
            <h1 class="fs_60 fw_6 mb-4">Privacy Policy</h1>
            <div class="sg_brtcrm">
              <a href="/" class="sg_b_c">Home</a> /
              <span class="active">Privacy Policy</span>
            </div>
          </div>
          <div class="col-md-5 text-center mt-5 mt-md-0 overflow-hidden"></div>
        </div>
      </div>
    </div>

    <div class="py-0 py-md-5 sg_border_design">
      <div class="container py-0 py-md-5">
        <div class="row pt-5">
          <div class="col-md-12 mb-5">
            <p>
              Protecting your private information is our priority. This Privacy
              Policy governs data collection and usage. For the purposes of this
              Privacy Policy, unless otherwise noted, all references to
              Swirecare includes www.swirecare.com, and any mobile applications
              (collectively the “Site”) and Swirecare, Inc.( “Swirecare”, “We”
              or “Us”). “You” or “Your” refers to you the user of the Site,
              regardless of whether you are a natural person or an entity.
            </p>
          </div>
          <div class="col-md-12 mt-4 mt-md-0">
            <div class="sg_points">
              <img src="{% static 'img/p1.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">
                Collection of your Personal Information
              </h5>
              <div class="fs_14">
                <p>
                  In order to better provide you with our services offered on
                  our Site, Swirecare may collect personally identifiable
                  information, including but not limited to your:<br />

                  - First and Last Name<br />
                  - Mailing Address<br />
                  - E-mail Address<br />
                  - Phone Number
                </p>
                <p>
                  If you purchase Swirecare subscription services, we collect
                  billing and credit card information for use a via third party
                  platform (e.g. without limitation, Stripe). This information
                  is used for billing.
                </p>
                <p>
                  Swirecare may at its discretion also collect anonymous
                  demographic information, which is not unique to you, including
                  but not limited to your:<br />
                  - Age<br />
                  - Gender<br />
                  - Race
                </p>
                <p>
                  We do not collect any personal information about you unless
                  you voluntarily provide it to us. However, you may be required
                  to provide certain personal information to us when you elect
                  to use certain services available on the Site. These may
                  include: (a) registering for an account on our Site; (b)
                  signing up for special offers from selected third parties; (c)
                  sending us an email message; (d) submitting your credit card
                  or other payment information when ordering and purchasing
                  products and services on our Site. To wit, we will use your
                  information for, but not limited to, communicating with you in
                  relation to services and/or products you have requested from
                  us. We also may gather additional personal or non-personal
                  information in the future.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p2.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Use of your Personal Information</h5>
              <div class="fs_14">
                <p>
                  Swirecare collects and uses your personal information to
                  operate its website(s) and deliver the services you have
                  requested. Swirecare may also use your personally identifiable
                  information to inform you of other products or services
                  available from Swirecare and its affiliates.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p3.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">
                Sharing Information with Third Parties
              </h5>
              <div class="fs_14">
                <p>
                  Swirecare does not sell, rent or lease its customer lists to
                  third parties.
                </p>
                <p>
                  Swirecare may share data with trusted partners to help perform
                  statistical analysis, send you email or postal mail, provide
                  customer support, or arrange for deliveries. All such third
                  parties are prohibited from using your personal information
                  except to provide these services to Swirecare, and they are
                  required to maintain the confidentiality of your information.
                </p>
                <p>
                  Swirecare may disclose your personal information, without
                  notice, if required to do so by law or in the good faith
                  belief that such action is necessary to: (a) conform to the
                  edicts of the law or comply with legal process served on
                  Swirecare or the site; (b) protect and defend the rights or
                  property of Swirecare; and/or (c) act under exigent
                  circumstances to protect the personal safety of users of
                  Swirecare, or the public.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p1.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Tracking User Behavior</h5>
              <div class="fs_14">
                <p>
                  Swirecare may keep track of the websites and pages our users
                  visit within Swirecare, in order to determine what Swirecare
                  services are the most popular. This data is used to deliver
                  customized content and advertising within Swirecare to
                  customers whose behavior indicates that they are interested in
                  a particular subject area.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p2.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">
                Automatically Collected Information
              </h5>
              <div class="fs_14">
                <p>
                  Information about your computer hardware and software may be
                  automatically collected by Swirecare. This information can
                  include: your IP address, browser type, domain names, access
                  times and referring website addresses. This information is
                  used for the operation of the service, to maintain quality of
                  the service, and to provide general statistics regarding use
                  of the Swirecare website (s).
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p3.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Use of Cookies</h5>
              <div class="fs_14">
                <p>
                  The Swirecare website may use &quot;cookies&quot; to help you
                  personalize your online experience. A cookie is a text file
                  that is placed on your hard disk by a web page server. Cookies
                  cannot be used to run programs or deliver viruses to your
                  computer. Cookies are uniquely assigned to you, and can only
                  be read by a web server in the domain that issued the cookie
                  to you.
                </p>
                <p>
                  One of the primary purposes of cookies is to provide a
                  convenience feature to save you time. The purpose of a cookie
                  is to tell the Web server that you have returned to a specific
                  page. For example, if you personalize Swirecare pages, or
                  register with Swirecare site or services, a cookie helps
                  Swirecare to recall your specific information on subsequent
                  visits. This simplifies the process of recording your personal
                  information, such as billing addresses, shipping addresses,
                  and so on. When you return to the same Swirecare website, the
                  information you previously provided can be retrieved, so you
                  can easily use the Swirecare features that you customized.
                </p>
                <p>
                  You have the ability to accept or decline cookies. Most Web
                  browsers automatically accept cookies, but you can usually
                  modify your browser setting to decline cookies if you prefer.
                  If you choose to decline cookies, you may not be able to fully
                  experience the interactive features of the Swirecare services
                  or websites you visit.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p1.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Links</h5>
              <div class="fs_14">
                <p>
                  This website may contain links to other sites. Please be aware
                  that we are not responsible for the content or privacy
                  practices of such other sites. We encourage our users to be
                  aware when they leave our site and to read the privacy
                  statements of any other site that collects personally
                  identifiable information.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p2.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">
                Security of your Personal Information
              </h5>
              <div class="fs_14">
                <p>
                  Swirecare uses third party providers for some information.
                  Swirecare will make the best effort to secure your data.
                </p>
                <p>
                  We strive to take appropriate security measures to protect
                  against unauthorized access to or alteration of your personal
                  information. Unfortunately, no data transmission over the
                  Internet or any wireless network can be guaranteed to be 100%
                  secure. As a result, while we strive to protect your personal
                  information, you acknowledge that: (a) there are security and
                  privacy limitations inherent to the Internet which are beyond
                  our control; and (b) security, integrity, and privacy of any
                  and all information and data exchanged between you and us
                  through this Site cannot be guaranteed.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p3.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Children Under Thirteen</h5>
              <div class="fs_14">
                <p>
                  This Privacy Policy covers the experience we provide for users
                  age 13 and over on our Platform
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p1.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">E-mail Communications</h5>
              <div class="fs_14">
                <p>
                  From time to time, Swirecare may contact you via email for the
                  purpose of providing announcements, promotional offers,
                  alerts, confirmations, surveys, and/or other general
                  communication. In order to improve our Services, we may
                  receive a notification when you open an email from Swirecare
                  or click on a link therein.
                </p>
                <p>
                  If you would like to stop receiving marketing or promotional
                  communications via email from Swirecare, you may opt out of
                  such communications by emailing us.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p2.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">External Data Storage Sites</h5>
              <div class="fs_14">
                <p>
                  We may store your data on servers provided by third party
                  hosting vendors with whom we have contracted.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p3.png' %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">
                GDPR and Designated Countries Privacy Rights
              </h5>
              <div class="fs_14">
                <p>
                  This Section only applies to Users and Customers of the
                  Services that are located in the European Economic Area,
                  United Kingdom and/or Switzerland (collectively, the
                  “Designated Countries”) at the time of data collection. We may
                  ask you to identify which country you are located in when you
                  use some of the Services, or we may rely on your IP address to
                  identify which country you are located in. Where we rely only
                  on your IP address, we cannot apply the terms of this Section
                  to any User or Customer that masks or otherwise obfuscates
                  their location information so as not to appear located in the
                  Designated Countries. If any terms in this Section conflict
                  with other terms contained in this Policy, the terms in this
                  Section shall apply to Users and Customers in the Designated
                  Countries.
                </p>
                <p>
                  Swirecare is a data controller with regard to any personal
                  information collected from Customers or Users of its Services.
                  A “data controller” is an entity that determines the purposes
                  for which and the manner in which any personal information is
                  processed. Any third parties that act as our service providers
                  are “data processors” that handle your personal information in
                  accordance with our instructions.
                </p>
                <p>
                  You may object to our processing at any time and as permitted
                  by applicable law if we process your personal information on
                  the legal basis of consent, contract, or legitimate interests.
                  We can continue to process your personal information if it is
                  necessary for the defense of legal claims, or for any other
                  exceptions permitted by applicable law.
                </p>
                <p>
                  If you believe we have infringed or violated your privacy
                  rights, please contact us at
                  <a href="mailto:info@swirecare.com" class="tc_b"
                    >info@swirecare.com</a
                  >
                  so that we can work to resolve your concerns.
                </p>
              </div>
            </div>

            <div class="sg_points mt-4 pt-2">
              <img src="{% static 'img/p1.png %}" class="" />
              <h5 class="fw_6 fs_24 mb-3">Changes to this Statement</h5>
              <div class="fs_14">
                <p>
                  Swirecare reserves the right to change this Privacy Policy
                  from time to time. We will notify you about significant
                  changes in the way we treat personal information by sending a
                  notice to the primary email address specified in your account,
                  by placing a prominent notice on our site, and/or by updating
                  any privacy information on this page. Your continued use of
                  the Site and/or Services available through this Site after
                  such modifications will constitute your: (a) acknowledgment of
                  the modified Privacy Policy; and (b) agreement to abide and be
                  bound by that Policy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="sg_footer mt-5 text-white pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'img/logo_b.png' }" width="150px" />
            <p class="mt-4 fw_4 t_w">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
          <div class="col-md-4 my-5 my-md-0">
            <h5 class="fw_4 fs_24 t_w">Get In Tuch</h5>
            <table cellpadding="7" cellspacing="7" width="100%" class="mt-4">
              <tr>
                <td class="">
                  <i
                    class="fa fa-home shadow rounded-circle b_grd i_s_g t_b"
                    style="font-size: 19px"
                  ></i>
                </td>
                <td>
                  <p class="fw_4 t_w mb-0">
                    190 E Cherry street, Carteret, New Jersey – 07008
                  </p>
                </td>
              </tr>
              <tr>
                <td class="">
                  <i
                    class="fa fa-envelope shadow rounded-circle b_grd i_s_g t_b"
                    style="font-size: 15px"
                  ></i>
                </td>
                <td>
                  <p class="fw_4 t_w mb-0">
                    <a href="mailto:care@qodeify.com" class="t_w tch_y"
                      >care@qodeify.com</a
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td class="">
                  <i
                    class="fa fa-phone shadow rounded-circle b_grd i_s_g t_b"
                    style="font-size: 19px"
                  ></i>
                </td>
                <td>
                  <p class="fw_4 t_w mb-0">
                    <a href="tel:+1 (214) 702-6730" class="t_w tch_y"
                      >+1 (214) 702-6730</a
                    >
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-4">
            <h5 class="fw_4 fs_24 t_w">Follow Us</h5>
            <div class="sg_social mt-4">
              <a href="#" class="b_grd shadow rounded-circle"
                ><i class="fa fa-facebook-f"></i
              ></a>
              <a href="#" class="b_grd shadow rounded-circle"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#" class="b_grd shadow rounded-circle"
                ><i class="fa fa-youtube"></i
              ></a>
              <a href="#" class="b_grd shadow rounded-circle"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="row mt-4 border-top pt-3 border-light">
          <div class="sg_bottom text-center d-md-flex justify-content-between">
            <p class="t_gra">
              Copyright ©2022 All rights reserved<a href="/" class="t_w">
                Swirecare</a
              >
            </p>
            <p class="t_gra">
              <a href="privacy/" class="t_w">Privacy Policy</a> /
              <a href="terms/" class="t_w">Terms And Conditions</a>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/animation/script.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
